<div class="container main">
  <h1>THIS TAP ROOM, ME HERE THIRSTY KNOWLEDGE</h1>

  <div *ngIf="selectedKeg">
    <h1>Edit Keg</h1>
    <form>
      <label for="name">Edit Keg Name</label>
      <br />
      <input [(ngModel)]="selectedKeg.name" type="text" name="name">
      <br />
      <label for="brand">Edit Keg Brand</label>
      <br />
      <input [(ngModel)]="selectedKeg.brand" type="text" name="brand" />
      <br />
      <label for="price">Edit Keg Price per Pint</label>
      <br />
      <input [(ngModel)]="selectedKeg.price" type="number" name="price" />
      <br />
      <label for="content">Edit Keg Price per Pint</label>
      <br />
      <input [(ngModel)]="selectedKeg.alcoholContent" type="number" name="content" />
      <br />
      <br />
      <button (click)="selectedKeg.tapKeg()">Tap This Keg</button>
      <br />
      <br />
      <button class="btn btn-danger"(click)="doneEdittingKeg()">Done</button>
      <br />
      <br />
      <br />
    </form>
  </div>

  <div id="kegs">
    <div *ngFor="let keg of kegs">
      <h2>{{keg.name}}</h2>
      <li>Brand: {{keg.brand}}</li>
      <li [class]="priceColor(keg)">Price per Pint: ${{keg.price}}</li>
      <li [class]="contentColor(keg)">Alcohol Content: {{keg.alcoholContent}}%</li>
      <li>Keg Tapped? - {{keg.isTapped}}</li>
      <li [class]="runningLow(keg)">Pints Remaining: {{keg.pints}}</li>
      <br />
      <button (click)="editKeg(keg)">Edit Keg Info</button>
      <br />
      <br />
    </div>

    <div id="tappedKegs">
      <h1>Tapped Kegs</h1>
      <div *ngFor="let keg of kegs">
        <div *ngIf="keg.isTapped">
          <h2>{{keg.name}}</h2>
          <li>Brand: {{keg.brand}}</li>
          <li>Price per Pint: ${{keg.price}}</li>
          <li>Alcohol Content: {{keg.alcoholContent}}%</li>
          <br />
          <button (click)="keg.sellPint()">Sell Pint</button>
          <br />
          <button (click)="keg.sellPitcher()">Sell Pitcher</button>
          <br />
          <br />
        </div>
      </div>
    </div>
    <div id="emptyKegs">

    </div>
  </div>
</div>
